{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-hudochenkov/order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": [
      "^([_a-z][a-z0-9]*)(_{2}[a-z0-9]+)?([_-][a-z0-9]+)*$",
      {
        "message": "Expected class selector to be mix of kebab-case and snake-case with available {prefix}__"
      }
    ],
  }
}
