.header {
  /* To place the logo-image in the center of the header horizontally
     and in the top vertically. */

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  margin: 92px 50px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: circle inside;
}

.header__menu-list-item_no-bullit {
  list-style-type: none;
}

.header__menu-link {
  color: #000;
  font-size: 18px;
  white-space: nowrap;
  text-underline-offset: 0.25em;
}

.header__menu-link_active {
  text-decoration: none;
}

.address {
  width: 240px;
  color: #000;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.address_link {
  white-space: nowrap;
  text-underline-offset: 0.25em;
}

.header__logo {
  /* To place the logo-image in the center of the header horizontally
     and in the top vertically. */

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 148px;
  height: 105px;
  margin: auto;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.cover {
  /* To place the overlay on top of the cover. */

  position: relative;
  z-index: -2;
  height: 757px;
  margin-bottom: 180px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  /* To place the overlay on top of the cover. */

  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 60%);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  height: 115px;
  margin: 165px 50px 0;
}

.aligned-text_center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 100px;
  margin-left: 80px;
}

.aligned-text_right {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  margin: 0 50px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  flex-direction: row;
  gap: 78px;
  justify-content: end;
  align-items: center;
  margin: 135px 50px 50px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
}

.no-word-spacing {
  word-spacing: normal;
}

.lots {
  min-height: 579px;
  margin: 180px 50px 181px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  /* To place the overlay on top of the background image. */

  position: relative;
  z-index: -2;
  background-image: url('../images/card-lot-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  /* To place the overlay on top of the background image. */

  position: relative;
  z-index: -2;
  background-image: url('../images/card-lot-02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  /* To place the overlay on top of the background image. */

  position: relative;
  z-index: -2;
  background-image: url('../images/card-lot-03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card__title {
  margin: 50px 40px 0;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-underline-offset: 0.14em;
}

.card__text {
  margin: 0 40px 50px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-bottom: 2px;
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 0.25em;
}

.about {
  display: grid;
  grid-template-areas: 'about_logo about_column about_column';
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  height: 487px;
  margin: 181px 50px 180px;
}

.about__logo {
  /* To center the about_logo image. */

  display: flex;
  grid-area: about_logo;
  justify-content: center;
  align-items: center;
  align-self: start;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin: auto;
}

.about_column {
  grid-area: about_column;
  align-self: end;
  height: 388px;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 180px 50px 90px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  white-space: nowrap;
  text-underline-offset: 0.25em;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}

/* TODO: Разбить по словам Аукцион вещей */

/* TODO: При уменьшении размера слово тебе должно сдвигаться?  */
